<!-- landing page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog App</title>
</head>
<body>
    <h1>Welcome to my dog database</h1>
    <a href="/dogs">Browse All Dogs</a>
    <a href="/dogs/new">Add a New Dog</a>
</body>
</html>