<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Dog</title>
</head>
<body>
    <h1>Add a Dog</h1>
    <a href="/dogs/index">Back to All Dogs</a>
    <form action="/dogs/" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"/>

        <label for="breed">Breed:</label>
        <input type="text" name="breed" id="breed"/>

        <label for="age">Age:</label>
        <input type="number" name="age" id="age"/>

        <button type="submit">Add Dog</button>
    </form>
</body>
</html>